html {
  font-family:       'Lato','Proxima Nova','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  background-color:  transparent;
  text-align:        left;
  margin:            12px 20px 0 20px;
  box-sizing:        border-box;
}

body {
  background-color:white;
}

h1 {
  font-size:         35px;
  text-align:        left;
  font-weight:       400;
  letter-spacing:    5px;
  margin:            0;
  padding:           12px 0;
  letter-spacing:    0.0555556em;
}

h2 {
  font-size:         25px;
  text-align:        left;
  font-weight:       500;
  letter-spacing:    1.2px;
  line-height:       1;
  margin:            0;
  padding:           10px 0;
}

h3 {
  font-size:         12px;
  text-align:        left;
  font-weight:       1000;
  letter-spacing:    1px;
  line-height:       1;
  margin:            0;
  padding:           10px 0;
}

h4 {
  font-size:         12px;
  text-align:        left;
  font-weight:       400;
  letter-spacing:    1.15px;
  line-height:       1;
  margin:            0;
  padding:           10px 0;
}

h5 {
  font-size:         11px;
  text-align:        left;
  font-weight:       400;
  letter-spacing:    1.15px;
  line-height:       1;
}

p {
  font-size:         12px;
  line-height:       1.75;
  letter-spacing:    1.5px;
  font-weight:       300;
}


/* --------------- Pinterest Tiles --------------- */

* {
  box-sizing:        border-box;
}
  
.tiles {
  // 	display:       flex;
  // 	flex-direction:column;
  // 	flex-wrap:     wrap;
  // 	height:        100vw;
  //  margin:        0;
  //  width:         1600px;
  // }
  
.tiles {
  -webkit-column-gap:  2px;
  -webkit-column-count:3;
  width:               100%;
  margin:              24px 0 0 0;
}
  
.masonryImage img{
  display:           inline-block;
  width:             100%;
  height:            auto;
  margin:            auto;
  }

/* --------------- Pinterest Tiles --------------- */
  

/* ---------------  Media Queries  --------------- */

@media (max-width: 1528px) {
  #container {
    width:           100%;
  }
  
  .tiles {
    -webkit-column-count: 2;      
  }

}

@media (max-width: 976px) {
  #container {
    width:           100%;
    height:          auto;
    justify-content: center;
  }

  .tiles {
    -webkit-column-count: 1; 
    margin:          12px 0 0 0; 
  } 

  .menu {
    display:         flex;
    justify-content: center;
  }

  .menu ul.active {
    display:         none;
  }

  .menu ul {
    width:           100%;
    position:        absolute;
    top:             120%;
    left:            0px;
    padding:         10px 18px;
    box-shadow:      0px 1px 1px rgba(0,0,0,0.15);
    border-radius:   3px;
    background:    #303030;
  }

  .menu ul:after {
    width:           0px;
    height:          0px;
    position:        absolute;
    top:             0%;
    left:            22px;
    content:         '';
    transform:       translate(0%, -100%);
    border-left:     7px solid transparent;
    border-right:    7px solid transparent;
    border-bottom:   7px solid #303030;
  }

  .menu li {
    margin:          5px 0 5px 0;
    float:           none;
    display:         block;
  }

  .menu a {
    display:         block;
  }

  .toggle-nav {
    display:         inline-block;
    padding:         4px 12px 6px 12px;
    margin:          -116px 0 0 0;
    position:        center;
    color:         #777;
    font-size:       28px;
  }

  .toggle-nav:hover, .toggle-nav.active {
    text-decoration: none;
  }

  #logo {
    padding:         32px 0 0 0;
    justify-content: center!important;
  }

  #logotag {
    display:         none;
  }

}
  
/* ---------------  Media Queries  --------------- */




/* ------------------------- 

#navbar {
  display:           flex;
  text-decoration:   none;
  justify-content:   left;
  margin:            16px 16px -24px 0;
  padding:           0;
}

#navbar h1 {
  display:           flex;
  justify-content:   left;
  margin:            0 8px 0 0;
}

#navbar ul, li {
  display:           flex;
  flex-wrap:         wrap;
  margin:            24px 16px -16px 24px;
  font-size:         12px;
  line-height:       1.75;
  letter-spacing:    1.5px;
  font-weight:       400;
}

a {
  text-decoration:   none;
  color:           gray;
}

navbar -------------------------*/


.toggle-nav {
  display:           none;
}

.menu ul, li {
  display:           flex;
  flex-wrap:         wrap;
  margin:            -22px -80px 0 0;
  padding:           0 0 0 128px;
  font-size:         12px;
  line-height:       1.75;
  letter-spacing:    1.5px;
  font-weight:       400;
}

.current-item li {
  color:   black;
}

#logo {
  display:           flex;
  justify-content:   left;
  margin:            0 8px 0 0;
  color:           black;
  text-decoration:   none!important;
}

.menu a {
  color:           gray;
  text-decoration:   none;
}

.menu a:hover, .menu .current-item a {
  text-decoration:   none;
  color:           black;
}