html {
  font-family:       'Lato','Proxima Nova','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  background-color:  transparent;
  text-align:        left;
  margin:            45px 11px 0 52px;
  box-sizing:        border-box;
}

body {
  background-color:white;
}

a:active {
  text-decoration:   none;
  font-weight:       bold;
  color:           black!important;
} 

a:link {
  text-decoration:   none;
  color:           gray;
} 

a:visited {
  text-decoration:   none;
  font-weight:       normal;
  color:           gray;
} 

h1 {
  font-size:         35px;
  text-align:        left;
  font-weight:       400;
  color:           black!important;
  letter-spacing:    5px;
  margin:            0;
  padding:           12px 0;
  letter-spacing:    0.0555556em;
}

h2 {
  font-size:         25px;
  text-align:        left;
  font-weight:       500;
  letter-spacing:    1.2px;
  line-height:       1;
  margin:            0;
  padding:           10px 0;
}

h3 {
  font-size:         12px;
  text-align:        left;
  font-weight:       1000;
  letter-spacing:    1px;
  line-height:       1;
  margin:            0;
  padding:           10px 0;
}

h4 {
  font-size:         12px;
  text-align:        left;
  font-weight:       400;
  color:           gray;
  letter-spacing:    1.15px;
  line-height:       1;
  margin:            0;
  padding:           10px 0;
}

h5 {
  font-size:         11px;
  text-align:        left;
  font-weight:       400;
  color:           gray;
  letter-spacing:    1.15px;
  line-height:       1;
  margin:            0;
  padding:           10px 0;
}

p, li {
  font-size:         12px;
  line-height:       1.75;
  letter-spacing:    1.5px;
  font-weight:       200;
}


/* ------------------------- Custom classes -------------------------*/

.navbar {
  display:           flex;
  text-decoration:   none;
  justify-content:   left;
  width:             832px;
  height:            40px;
  margin:            16px 0 8px 0;
}

.navbar h1 {
  display:           flex;
  text-decoration:   none;  
  color:           black!important;
  margin:            6px 0 -16px -40px;
  padding:           0px 24px 0 0;
}

.navbar ul, li {
  display:           flex;
  text-decoration:   none;
  margin:            16px 8px -16px 24px;
  color:           gray;
}

img {
  max-width: 920px;
}